/* You can add global styles to this file, and also import other style files */

body {
  background-color: #bcebd1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
  background-color: white;
  border-top: solid 4px #465fc2;
  text-align: center;
  border-bottom: solid 1px black;
}

.navbar {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,182,235,1) 0%, rgba(172,222,251,1) 100%);
  display: flex;

  justify-content: center;
}

.navbar ul{
    display: flex;
    
}

  .navbar li {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    
  }

  .navbar a {
    text-decoration: none;
    font-weight: bold; /* Hace que el texto esté en negrita */
  }

  .navbar a:hover{
      transition: 200ms;
      font-size: 20px;
  }

.active {
  text-shadow: 1px 3px 3px rgba(0,0,0,0.53);
  color: aliceblue;
}

.main_content {
  border-top: 1px solid black;
  min-height: 770px;
  background-color: rgb(146, 190, 216);
  display: flex;
  
}

.content {
  text-align: center;
  background-color: rgb(198, 232, 252);
  width: 85%;
}

.sidebar {
  border-left: 1px solid black;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(266deg, rgba(2,0,36,1) 0%, rgba(114,149,169,1) 0%, rgba(146,201,232,1) 100%);
  width: 20%;
}

input[type="text"]{

    background-color: #e4f2fe;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
}

button,
input[type="button"]{
    background-color: #ccd8e4;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}


  button,
  input[type="button"]:hover {
    transition: 200ms;
    background-color: #a9c0d4;
  }


  .sidebar div{
      background-color: #a3c6e1;
      border: 1px solid black;
      margin: 13px;
      padding: 10px;
      border-radius: 10px;
  }

.footer {
  line-height: 30px;
  height: 60px;
  background-color: #99beeb;
  margin: auto;
  padding: 0;
  border-top: 1px solid black;
 
}
