/* You can add global styles to this file, and also import other style files */

body {
  background-color: #bcebd1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
  background-color: white;
  border-top: solid 4px #465fc2;
  text-align: center;
  border-bottom: solid 1px black;
}


/*navbar*/

.navbar {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,182,235,1) 0%, rgba(172,222,251,1) 100%);
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav_ul {
  margin-left: 120px;
  display: flex;
  justify-content: center; /* Centra horizontalmente los enlaces de navegación */
  flex-grow: 1; /* Permite que los enlaces de navegación ocupen todo el espacio disponible */
}

.navbar ul {
  display: flex;
}

.navbar li, li {
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
}

  .navbar a:hover {
    transition: 200ms;
    font-size: 20px;
  }

.navbar input[type="button"] {
  height: 45px;
  margin-left: 10px;
}

.navbutton input{
    background-color: aliceblue;
}


.active {
  text-shadow: 1px 3px 3px rgba(0,0,0,0.53);
  color: aliceblue;
}
.nav_btns a{
    margin: 5px;
}

.active_btn {
    background-color: #adadad !important;
}


.main_content {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  min-height: 750px;
  background-color: rgb(146, 190, 216);
}

.content {
  text-align: center;
  background-color: rgb(225, 244, 255);
  width: 100%;

}

/*login page styles*/

.login_content {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: rgb(225, 244, 255);
}


.logform {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
  background-color: #a3c6e1;
  border: 1px solid black;
  margin: 13px;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  max-height: 520px;
  max-width: 350px;
  min-width: 200px;
}

  .logform div {
    display: flex;
    flex-flow: row;
  }

.login_content input[type="text"],
.login_content input[type="password"] {
  width: 160px;
  padding: 15px;
  text-align: left
}

.login_content input[type="button"],
.login_content input[type="submit"] {
  text-align: center;
  width: 60px;
  padding: 10px;
}


/*sing up page styles*/

#signup_container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(198, 232, 252);
}

.signupform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: #a3c6e1;
  border: 1px solid black;
  margin: 13px;
  padding: 15px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  max-height: 530px;
  max-width: 350px;
  min-height: 555px;
  max-height: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

  .signupform h1 {
    color: #121623;
  }

  .signupform .column {
    display: flex;
    flex-flow: column;
    text-align: center;
  }

  .signupform input[type="text"],
  .signupform input[type="number"],
  .signupform input[type="password"] {
    margin-top: 10px;
    position: relative;
    width: 160px;
    padding: 15px;
    text-align: left;
    font-size: 14px;
    outline: none;
    padding: 15px 20px;
  }

  .signupform .row {
    display: flex;
    column-gap: 15px;
    text-align: center;
  }

.error {
  color: #dc5050;
  font-size: 15px;
}
/*sidebar styles*/

.sidebar {
  border-left: 1px solid black;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(266deg, rgba(2,0,36,1) 0%, rgba(114,149,169,1) 0%, rgba(146,201,232,1) 100%);
  width: 20%;
  display: flex;
  justify-content: center;
}

/*buttons and input type text default styles*/

input[type="text"],
input[type="number"],
input[type="password"] {
  background-color: #e4f2fe;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  min-width: 10px;
  max-width: 115px;
  text-align: center;
}

button,
input[type="button"],
input[type="submit"],
.nav_btns a{
  background-color: #ccd8e4;
  padding: 10px;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}

  input[type="button"]:hover,
  input[type="submit"]:hover,
  .nav_btns a:hover,
  button:hover{
    transition: 200ms;
    background-color: #a9c0d4;
  }


/*sidebar*/

.sidebar div {
  background-color: #a3c6e1;
  border: 1px solid black;
  margin: 13px;
  padding: 30px;
  border-radius: 10px;
  max-height: 140px;
  max-width: 200px;
  min-width: 150px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none; /* Oculta la barra lateral en dispositivos más pequeños */
  }

  .content {
    width: 100%;
  }
}

/*footer*/

.footer {
  line-height: 30px;
  height: 60px;
  background-color: #99beeb;
  margin: auto;
  padding: 0;
  border-top: 1px solid black;
}

.footer p{
    margin-left: 15px;
}

/*user page styles*/

#user_page_container{
    display: flex;
    
    justify-content: center;
}

  #user_page_container ul {

    text-align: left;

    display: flex;

    flex-flow: column;

    justify-content: center;

    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 240px;

    -webkit-box-shadow: 1px 2px 30px 5px rgba(0,0,0,0.57);
    -moz-box-shadow: 1px 2px 30px 5px rgba(0,0,0,0.57);
    box-shadow: 1px 2px 30px 5px rgba(0,0,0,0.57);
  }

  #user_page_container li {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  #pwd_btn{
    background-color: #7acba3;
    padding: 20px;
    margin: 5px
  }

#useredit_btn {
  background-color: rgb(131, 194, 194);
  padding: 20px;
  margin: 5px
}

#pwd_btn:hover {
    transition: 200ms;
  background-color: rgb(148, 216, 214);
}


#useredit_btn:hover {
  transition: 200ms;
  background-color: rgb(148, 216, 214);
}

#user_page_container input[type="text"],
#user_page_container input[type="number"] {
  margin: 0;
  background-color: rgb(216, 241, 255);
}
