<div class="main_content">

  <div class="content">

    <div id="productpagecontent" *ngIf="Product != null && Loaded == true">



      <div id="product_imgname">
        <img id="product-img" *ngIf="Product.image == null" src="../../../assets/images/main-qimg-1a4bafe2085452fdc55f646e3e31279c-lq.jpg" />
        <img id="product-img" *ngIf="Product.image != null" src="../../../assets/images/products/{{Product.image}}" />
        <h1>{{ Product.name }}</h1>

        <div *ngIf="Product.description != null" id="product_description">
          <h2>{{ Product.description }}</h2>
        </div>
      </div>


      <div id="productpage_price">
        <div id="product_price_container">
          <p id="price">{{ Product.price }}€</p>
          <p id="info">shipping in 3 days</p>
        </div>

        <button (click)="AddToCart()">Add to cart <img style="width: 15px;" src="../../../assets/images/shopping-cart-icon.png" /></button>
        <button id="buynow_btn">Buy now</button>

      </div>


    </div>

    <div *ngIf="Loaded == false">
      <h1>Loading Product</h1>
    </div>

    <div *ngIf="Product == null && Loaded == true">
      <h1>Product not found</h1>
    </div>

  </div>

</div>
