<div class="main_content">

  <div class="content">

    <h1 style="font-size: 25px; text-decoration: underline" *ngIf="loaded == true">Available products</h1>

    <h1 style="font-size: 20px" *ngIf="loaded == false">Loading products...</h1>

    <div id="products">

      <div (click)="productclick( product.id )" id="product" *ngFor="let product of products">

        <img *ngIf="product.image == null" id="products-img" src="../../../assets/images/main-qimg-1a4bafe2085452fdc55f646e3e31279c-lq.jpg" />
        <img *ngIf="product.image != null" id="products-img" src="../../../assets/images/products/{{product.image}}" />

        <p>{{product.name}}</p>


        <p id="product_price">{{product.price}}€</p>
      </div>

    </div>

  </div>

   






  <aside class="sidebar">
    <div>
      <h1 style="text-decoration: underline">Search bar</h1>
      <form #SearchForm="ngForm" (ngSubmit)="Search()">
        <input name="searchstring" [(ngModel)] ="searchstring" type="text" placeholder="Search a product" required/>
        <input id="search_btn" type="submit" value="🔍"  [disabled]="SearchForm.invalid" />
      </form>
    </div>
  </aside>

</div>

