<div class="main_content">

  <div class="home_content">
    <h1 style="font-size: 25px; text-decoration: underline">home page</h1>

    <div id="home_box">

      <h2>Project made with angular, Entity Framework Core and MySql</h2>

      <div id="home_imgs">
        <img class="home_img" src="../../../assets/images/home/angular.png"/>
        <img class="home_img" src="../../../assets/images/home/EFCore.png"/>
        <img class="home_img" src="../../../assets/images/home/mysql.png"/>
      </div>

    </div>


  </div>





  <aside class="sidebar">
    <div>
      <h1 style="text-decoration: underline">Search bar</h1>
      <form #SearchForm="ngForm" (ngSubmit)="Search()">
        <input name="searchstring" [(ngModel)]="SearchString" type="text" placeholder="Search a product" required />
        <input id="search_btn" type="submit" value="🔍" [disabled]="SearchForm.invalid" />
      </form>
    </div>
  </aside>

</div>

