<div class="main_content">

  <div style="width=100%" id="order_container">


    <form class="orderform" [formGroup]="orderForm" (ngSubmit)="onSubmit()">

      <h1 style="font-size: 28px">Order</h1>

      <div id="order_infobox">

        <p>{{TotalQuantity}} products</p>
        <p>{{OrderPrice}}€</p>

      </div>

      
    

        <div class="column">
          <label>Address *</label>
          <input type="text" formControlName="address" placeholder="Address" value="{{User.address}}" />
        </div>

      
    

      <div class="row">
        <div>
          <label>Email</label>
          <p class="form_user_param">{{User.email}}</p>
        </div>

        <div>
          <label>Username</label>
          <p class="form_user_param">{{User.username}}</p>
        </div>

      </div>

      <input type="submit" value="make order" />

    </form>

  </div>
</div>

