<div class="main_content">

  <div class="contact_content">
    <h1 style="text-decoration: underline">contact</h1>

    <div id="contact_div">
      <h1 id="" style="font-size: 25px">proyect made by Abraham Ahudev</h1>
      <p>email: abraham.ahudev.contact@gmail.com</p>
    </div>
   




  </div>








  <aside class="sidebar">
    <div>
      <h1 style="text-decoration: underline">Search bar</h1>
      <form #SearchForm="ngForm" (ngSubmit)="Search()">
        <input name="searchstring" [(ngModel)]="SearchString" type="text" placeholder="Search a product" required />
        <input id="search_btn" type="submit" value="🔍" [disabled]="SearchForm.invalid" />
      </form>
    </div>
  </aside>

</div>

