<nav class="navbar">


  <div class="nav_btns">
    <a *ngIf="isAuthenticated" [routerLink]="['/cart']" [routerLinkActive]="['active_btn']"> Cart</a>
  </div>


  <div class="nav_btns">
    <a *ngIf="isAuthenticated" [routerLink]="['/orders']" [routerLinkActive]="['active_btn']"> Orders</a>
  </div>

  <div class="nav_btns">
    <a *ngIf="isAdmin" [routerLink]="['/admin']" [routerLinkActive]="['active_btn']">Admin</a>
  </div>

  <div class="nav_btns">
    <a *ngIf="isSeller" [routerLink]="['/seller']" [routerLinkActive]="['active_btn']">Seller</a>
  </div>


  <div class="nav_ul">
    <ul>
      <li>
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/products']" [routerLinkActive]="['active']">Products</a>
      </li>
      <li>
        <a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a>
      </li>
    </ul>
  </div>


  <div class="nav_btns">
    <a *ngIf="!isAuthenticated" [routerLink]="['/login']" [routerLinkActive]="['active_btn']">Log in</a>
    <a *ngIf="!isAuthenticated" [routerLink]="['/signup']" [routerLinkActive]="['active_btn']">Sign up</a>

  </div>

  <div class="nav_btns">
    <a *ngIf="isAuthenticated" [routerLink]="['/user']" [routerLinkActive]="['active_btn']">User</a>
    <a *ngIf="isAuthenticated" [routerLink]="['/home']" (click)="logoff()">Log off</a>
  </div>


</nav>

