<div class="main_content">

  <div class="login_content">

    <div>
      <h1 style="font-size: 25px; text-decoration: underline">change password page</h1>
   
      <form class="logform" [formGroup]="pwdForm" (ngSubmit)="onSubmit()">
        <div style="font-size:14px" class="error" *ngIf="pwdForm.get('password')?.errors?.['minlength']">
          Password should be at least 6 characters long
        </div>
        <input type="password" formControlName="password" placeholder="password" />
        <div class="error" style="font-size:14px" *ngIf="passwordMatchValidator(this.pwdForm) !== null">
          Passwords do not match
        </div>
        <input type="password" formControlName="confirmpassword" placeholder="Confirm Password" />
        <input style="width:150px" type="submit" value="Change Password" [disabled]="pwdForm.invalid" />
      </form>
    </div>



  </div>

</div>


